#c_main{
    position: relative;
    min-height: 79vh;
    max-height: 79vh;
    min-width: 99.5vw;
    background-color: #0A1828;
    color: white;
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    padding-top: 2vh;
    padding-bottom: 2vh;
    overflow-y: scroll;
}

#c_jpc{
    position:relative;
    height: 80vh;
    width: 90vw;
    top: -2vh;
    border-top: 1px solid white;
    display: grid;
    align-items: center;
    justify-content: center;
}

#c_bc{
    position: absolute;
    top: 0vh;
    right: 0vw;
    width: 40vw;
    height: 10.3vh;
    display: flex;
    justify-content: right;
    align-items: center;
}

#c_pfp{
    position: relative;
    max-width: 3vw;
    top: 0vh;
    right: -18vw;
}

#c_paj{
    position: relative;
    top: 0vh;
    right: -6vw;
    color: white;
    font-size: 3vh;
    
}

#c_cand{
    position: relative;
    top: 0vh;
    right: 0vw;
    font-size: 3vh;
    padding-right: 2vw;
    color:#BFA181;
}

#c_cand>a:visited{
    position: relative;
    top: 0vh;
    right: 0vw;
    font-size: 3vh;
    padding-right: 2vw;
    color:#BFA181;
}

#c_jl{
    position: relative;
    top: 0vh;
    right: 25vw;
    font-size: 3vh;
    border-right: 1px solid white;
    padding-right: 2vw;
    color:#178582;
}

#c_jl>a:visited{
    position: relative;
    top: 0vh;
    right: 25vw;
    font-size: 3vh;
    border-right: 1px solid white;
    padding-right: 2vw;
    color:#178582;
}

a:hover{
    text-decoration: underline;
}

#c_job{
    position: relative;
    display: flex;
    background-color: #178582;
    height: 15vh;
    width: 90vw;
    align-items: center;
    justify-content: left;
    border-radius: 20vh;
    font-size: 4vh;
    padding-left: 3vw;
    margin-bottom: 3vh;
}

#r_vd{
    position: sticky;
    height: 5vh;
    width: 10vw;
    left: 80vw;
    color: white;
    background-color: #BFA181;
    border: none;
    border-radius: 5vh;
    font-size: 2vh;
}

#r_vd:hover{
    position: sticky;
    height: 5vh;
    width: 10vw;
    left: 80vw;
    color: white;
    background-color: #BFA181;
    border: none;
    border-radius: 5vh;
    font-size: 2vh;
    box-shadow: 2px 0px 40px 5px rgba(255,255,255,0.5);
    -webkit-box-shadow: 2px 0px 40px 5px rgba(255,255,255,0.5);
    -moz-box-shadow: 2px 0px 40px 5px rgba(255,255,255,0.5);
    text-decoration: underline;
}

#r_hd{
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    border: 2px dotted white;
    border-radius: 20vh;
    top: 5vh;
    height: 5vh;
    font-size: 2vh;
}

#r_hd > p{
    margin-right: 2.5vw;
    margin-left: 2.5vw;
}

#r_hidden{
    color:#178582;
    font-size: 2vh;
}

#r_job:hover{
    position: relative;
    display: flex;
    background-color: #178582;
    height: 15vh;
    width: 90vw;
    align-items: center;
    justify-content: left;
    border-radius: 20vh;
    font-size: 4vh;
    padding-left: 3vw;
    margin-bottom: 3vh;
    #r_hidden{
        color: white;
        font-size: 2vh;
    }
}

#pfp{
    position: relative;
    max-width: 3vw;
    top: 0vh;
    right: -18vw;
}

#menu_pfp{
    position:fixed;
    right: 5vw;
    top: 1.75vh;
    max-width: 3vw;
}

#r_main_gb{
    position:absolute;
    top:14.5vh;
    left: 5vw;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 2vh;
    font-weight: bold;
}

#r_main_gb:hover{
    position:absolute;
    top:14.5vh;
    left: 5vw;
    background-color: rgba(255,255,255,0.5);
    color: white;
    border: none;
    font-size: 2vh;
    border-radius: 5vh;
    font-weight: bold;
}